/*
filename: style.css
author: Joshua White
created: 04/04/22
modified by: Shreeya Shrestha
last modified: 08/04/22
description:  COS10026 Assignment 1 (Group)
*/

* {
    margin:0px;
    margin: 0.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    border-bottom:14px double white;
    padding-bottom: 30px;
    background-image: url("ZEN5-A.jpg");
    padding-top: 30px;
}
#header1{
    position: sticky;
    top: 0;
    z-index: 5;
}
#common_header {
    display: block;
    margin-top: 0px;
    background-image: url("ZEN5-A.jpg");
    border-bottom: 1em double white;
      
}
nav a {
    display: inline-block;
    text-decoration: none; 
    font: 17px Arial, sans-serif;
    color: white;
    margin: 1%; 
    padding: 0.7%;
    border: 3.5px solid white;
}

#common_header :hover { 
    border-color: lightblue;
    font-size: larger;
    font-weight: bolder;
}

/*topic page individual header*/
#page_header {
    display: block;
    padding-left: 18%;

    position: relative;
    display:block;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes content {
    0% {left:-10000px;}
    100%{left: 0;}  
}
  
a.page_nav {
    background-color: #051531;
    color: whitesmoke;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    transition:all 0.5s ease-out;
}
  
a.page_nav:hover {
    background-color: whitesmoke;
    color: #051531;
  }

#divider {
    border-top: 5px solid #051531;
}

img {
    display:block;
    float: right;
    clear: both;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    margin: 13px;
    box-shadow: 10px 10px 5px grey;
}


h2 {
    font-size: 2em;
}

#topic_description, #history {
    margin-top: 2%;
    color:black;
    font-family: 'Lucida Sans';
}

#first {
    font-family: 'Lucida Sans';
    display:block;
    margin: auto;
    width: 95%;
    padding:1%;
    background-color: lightcyan;
    border: 0.1em inset darkblue;
    border-radius: 5px;
    margin-bottom: 2%;
}

#first:hover {
    box-shadow: 10px 10px 5px grey;
    border: 0.2em inset darkblue;
}

section {
    margin:1%;
    padding:2%;
}

#importance {
    font-size: 1.5em;
}

p {
   line-height: 1.5em;
}

ol {
    list-style-type:lower-roman;
    margin: 1em;
}

.name {
    font-weight: 700;
}

#second {
    padding: 1%;
}


#part_2 {
    padding:10px;
    background: rgba(3, 66, 166, 0.3);
    border-radius: 5px;
}

#part_2:hover {
    border: 3px solid darkblue;
    box-shadow: 10px 10px 5px grey;
}

section aside {
    display: block;
    float: right;
    clear: both;
    width: 30%;
    border: 5px double darkblue;
    border-radius: 5px;
    padding: 1%;
    background: rgb(98, 145, 255, 0.3);
    box-shadow: 10px 10px 5px grey;
}



table,th,td { border: 1px solid black; }

th {
    background:rgba(3, 11, 239, 0.47);
    font-size:large;
}

td {
    background: rgba(41, 69, 208, 0.3);
    padding: 1%;
}

footer {
    background-color: #051531;
}

/* Drop up */
.dropup{
    float:left;
    clear:both;
    display:block;
}

.button {
    background-color: #295ba1;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
  }

.dropup {
    position: relative;
  }

.mail_links {
    display: none;
    position: absolute;
    bottom:65px;
    background-color: #89a1d7;
    min-width: 155px;
    z-index: 1;
  }
  
.mail_links a {
    color: black;
    padding: 10px 14px;
    display: block;
  }
  
.mail_links a:hover {background-color: rgb(197, 224, 223)}
  
.dropup:hover .mail_links {
    display: block;
  }
  
.dropup:hover .button {
    background-color: #1f72a9;
  }

.uni {
    margin-left:32%;
    text-align: center;
    background-color:#295ba1;
    display: inline-block;
    font-size: 15px;
    padding:15px;
}

.uni:hover {
    background-color: #1f72a9;
}

.uni a {
    color:white;
}

.home {
    float:right;
    text-align: center;
    background-color: #295ba1;
    display: block;
    font-size: 15px;
    padding:15px;
}

.home:hover{
    background-color: #1f72a9;
}
.home a {
    color:white;
}
hr {
    border-top: 2px dashed #051531;
}

/*quiz page*/

#background-pallete {background-color: #f9f8f8;}

.secondary-pallete {
    background-color: #fffffe ; /* #fffffe */
    border-radius: 10px;
    margin: 10px;
    border-color: #0d0d0d;
    padding: 10px;
    height: 100px;
}
.content-title {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 500;
}
.content-text {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 300; 
    font-style: italic;
}

.main-buttons {
    color: white;
    background-color: #250c9d;
    padding: 8px;
    border-radius: 10px;

}
.main-buttons:hover {
    font-size: large;
    box-shadow: 10px 10px 5px grey;
}
form {
    background-color: #fffffe;
}
